body {
    background-color: #5F5F5F;
}

main {
    font-family: monospace;
    max-width: 800px !important;
    background-color: #CCCCCC;
}

main * {
    background-color: #CCCCCC;
}

aside {
    padding: 20px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 10% auto auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/*

.iframe * {
    -webkit-transform:scale(0.5);
    -moz-transform:scale(0.5);
    -o-transform:scale(0.5);
    -ms-transform:scale(0.5);
}

.iframe {
    border: none;
    width: 100%;
    min-height: 90%;
    resize: both;
    overflow: hidden;
}*/

.iframe-cont {
    height: 565px;
    max-height: 565px;
    min-height: 460px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    resize: both;
    position: relative;
    z-index: 1;
    margin-bottom: 1em;
}

.iframe-cont iframe {
    width: 100%;
    height: 100%;
    border: none;
}

html > body tbody.scrollContent {
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    box-sizing: border-box;
}

html > body thead.fixedHeader {
    display: table;
    overflow: auto;
    width: 100%;
    box-sizing: border-box;
}

thead.fixedHeader tr {
    position: relative;
}

html > body div.tableContainer {
    overflow-y: hidden;
}

.scrollTable {
    width: 100%;
    border-collapse: collapse;
}

.scrollTable th {
    padding: 8px;
}

.scrollTable td {
    text-align: left;
    padding: 8px;
}

.scrollTable tr {
    height: 2.6em;
    width: 100%;
    display: flex;
}

.scrollTable tr:hover[onclick], .control > *:hover {
    cursor: pointer;
    opacity: 0.75;
}

.scrollTable tr:nth-child(even), .scrollTable tr:nth-child(even) * {
    background-color: #a3a3a3
}

.scrollTable tr:nth-child(odd), .scrollTable tr:nth-child(odd) * {
    background-color: #f2f2f2
}

table.scrollTable > tbody > tr > td > form > button {
    border: none;
    padding: 0;
    text-decoration: none;
    font-size: 100%;
    text-align: right;
    color: red;
}

table.scrollTable > tbody > tr > td > form > button:hover {
    cursor: pointer;
}

.signin {
    background-color: #4f4f4f;
    text-align: center;
}

