{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block head %}
    <style>
        #users.scrollTable td:nth-child(1), #users.scrollTable th:nth-child(1) {
            width: 27%
        }

        #users.scrollTable td:nth-child(2), #users.scrollTable th:nth-child(2) {
            width: 70%;
            border-left: solid;
        }

        #users.scrollTable td:nth-child(3), #users.scrollTable th:nth-child(3) {
            width: 3%;
        }

        #roles.scrollTable td:nth-child(1), #roles.scrollTable th:nth-child(1) {
            width: 90%;
        }

        #roles.scrollTable td:nth-child(2), #roles.scrollTable th:nth-child(2) {
            width: 10%;
        }

        #user-roles.scrollTable td, #user-roles.scrollTable th {
            width: 100%;
            text-align: center;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        .console, .console * {
            color: greenyellow;
            background-color: black;
        }

        #output {
            padding: 10px;
            height: 20em;
            overflow-y: scroll;
        }

        .control, .control * {
            display: inline-block;
        }

        .control {
            height: 32px;
        }

        .control > * {
            height: 100%;
            height: -webkit-fill-available;
        }

        .control * {
            border-radius: 10px;
            padding: 4px;
            border-color: var(--secondary-color);
            background-color: var(--primary-color);
        }

        .control > button {
            font-size: 15px;
            padding: 5.5px;
        }

        .control > div {
            border-width: 2px;
            border-radius: 10px;
            border-style: solid;
            font: 400 13.3333px Arial;
        }

        .control div * {
            border-radius: 20px;
            padding: 0;
            border: 1px solid var(--secondary-color);
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 29px;
            height: 17px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: darkred;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 11px;
            width: 11px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: darkgreen;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px darkgreen;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(11px);
            -ms-transform: translateX(11px);
            transform: translateX(11px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 17px;
        }

        .slider.round:before {
            border-radius: 50%;
        }

        /* Style inputs with type="text", select elements and textareas */
        form input[type=text], form input[type=email], form input[type=password], form textarea {
            width: 100%; /* Full width */
            padding: 12px; /* Some padding */
            border: 1px solid #ccc; /* Gray border */
            border-radius: 4px; /* Rounded borders */
            box-sizing: border-box; /* Make sure that padding and width stays in place */
            margin-top: 6px; /* Add a top margin */
            margin-bottom: 16px; /* Bottom margin */
            resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
            background-color: #f9f9f9;
        }

        /* Style the submit button with a specific background color etc */
        form input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        /* When moving the mouse over the submit button, add a darker green color */
        form input[type=submit]:hover {
            background-color: #45a049;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script>
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("users");
            switching = true;
            // Set the sorting direction to ascending:
            dir = "asc";
            /* Make a loop that will continue until
            no switching has been done: */
            while (switching) {
                // Start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /* Loop through all table rows (except the
                first, which contains table headers): */
                for (i = 1; i < (rows.length - 1); i++) {
                    // Start by saying there should be no switching:
                    shouldSwitch = false;
                    /* Get the two elements you want to compare,
                    one from current row and one from the next: */
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /* Check if the two rows should switch place,
                    based on the direction, asc or desc: */
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /* If a switch has been marked, make the switch
                    and mark that a switch has been done: */
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    // Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /* If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again. */
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
        setInterval(() => {
            fetch("{{ url_for('admin.console') }}")
                .then(response => {
                    response.text().then(t => {
                        let data = JSON.parse(t);
                        let elem = document.getElementById("output");
                        for (let i = 0; i < data.content.length; i++) {
                            if (data.content[i] === '' || data.content[i] === '\n') continue;
                            elem.innerHTML += data.content[i] + "<br/>";
                            elem.scrollTop = elem.scrollHeight;
                        }
                    })
                });
            let elem = document.getElementById("output");
            elem.innerHTML = elem.innerHTML.replace("<br/>\n<br/>\n", '');
            elem.scrollTop = elem.scrollHeight;
        }, 10000);

        function f() {
            let elem = document.getElementById('messages');
            $(elem).css('height', $(elem.contentWindow.document.body).height());
        }

        function sleep(milliseconds) {
            let start = new Date().getTime();
            for (let i = 0; i < 1e7; i++) {
                if ((new Date().getTime() - start) > milliseconds) {
                    break;
                }
            }
        }

    </script>
{% endblock %}
{% block content %}
    <article>
        <h2>Controls</h2>
        <form class="control" action="{{ url_for('admin.admin_commands', command='toggle_camera') }}" method="post">
            <div style="float: left;" onclick="document.getElementById('cam1').click()">
                <div style="vertical-align: text-top;border: none;">
                    <span style="font-size: 15px;border: none;padding-left: 2px">Camera</span>
                </div>
                <label class="switch">
                    <input type="checkbox" id="cam1" onchange="this.form.submit();"
                           {% if config['camera']['status'] %}checked{% endif %}/>
                    <span class="slider round"></span>
                </label>
            </div>
        </form>
        <form class="control" action="{{ url_for('admin.admin_commands', command='toggle_detect') }}" method="post">
            <div style="float: left;" onclick="document.getElementById('cam2').click()">
                <div style="vertical-align: text-top;border: none;">
                    <span style="font-size: 15px;border: none;padding-left: 2px">Face detect</span>
                </div>
                <label class="switch">
                    <input type="checkbox" id="cam2" onchange="this.form.submit();"
                           {% if config['camera']['use_detect'] %}checked{% endif %}/>
                    <span class="slider round"></span>
                </label>
            </div>
        </form>
        <form class="control" action="{{ url_for('admin.admin_commands', command='restart') }}" method="post">
            <button type="submit" style="float: left">Restart</button>
        </form>
    </article>
    <article>
        <h2>Users</h2>
        <div id="tableContainer" class="tableContainer">
            <table class="scrollTable" style="width: 70%;float: left" id="users">
                <thead class="fixedHeader">
                <tr style="height: 2.3em">
                    <th onclick="sortTable(0)" style="background-color: #a3a3a3">User</th>
                    <th style="background-color: #a3a3a3;width: calc(70% + 18px);">Email</th>
                    <th style="background-color: #a3a3a3"><i class="fas fa-trash-alt" style="visibility: hidden;"></i>
                    </th>
                </tr>
                </thead>
                <tbody class="scrollContent">
                {% for user in users %}
                    <tr style="height: 2.3em" {% if user.username != "admin" %}onclick='
                            document.getElementById("username").value = "{{ user.username }}";
                            document.getElementById("username-text").innerText = "{{ user.username }}";
                            document.getElementById("first_name-text").innerText = "{{ user.first_name }}";
                            document.getElementById("last_name-text").innerText = "{{ user.last_name }}";
                            document.getElementById("email-text").innerText = "{{ user.email }}";
                            $("#user-roles>tbody").html("{% for role in user.get_roles() -%}<tr><td>{{ role }}</td><td><form action=\"{{ url_for('admin.admin_commands', command='remove_user_role', param=[user.username, role]) }}\" method=\"post\"><button type=\"submit\"><i class=\"fas fa-trash-alt\"></i></button></form></td></tr>{% endfor -%}");
                            document.getElementById("popup").style.display = "block";'{% endif %}>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <form {% if user.username != "admin" %}action="{{ url_for('admin.admin_commands', command='remove_user', param=(user.username|string)) }}"
                                  {% else %}action="" style="visibility: hidden"{% endif %}
                                  method="post">
                                <button type="submit"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <table class="scrollTable" style="margin-left: 6%;width: 24%;float: left;" id="roles">
                <thead class="fixedHeader">
                <tr style="height: 2.3em">
                    <th style="background-color: #a3a3a3">Roles</th>
                    <th style="background-color: #a3a3a3"><i class="fas fa-trash-alt" style="visibility: hidden;"></i>
                    </th>
                </tr>
                </thead>
                <tbody class="scrollContent">
                {% for role in roles %}
                    <tr style="height: 2.3em">
                        <td>{{ role }}</td>
                        <td>
                            <form {% if role != "admin" %}action="{{ url_for('admin.admin_commands', command='remove_role', param=(role|string)) }}"
                                  {% else %}action="" style="visibility: hidden"{% endif %}
                                  method="post">
                                <button type="submit"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <form style="width: 24%;float: left;margin-left: 6%;margin-top: 15px;"
                  action="{{ url_for('admin.admin_commands', command='add_role') }}" method="post">
                <label>
                    <input type="text" style="height: 2em;width: 60%;float: left;margin: 0;" name="role"
                           placeholder="Name"/>
                </label>
                <input type="submit" style="width: 40%;float: left;padding: 0;height: 2em;"/>
            </form>
        </div>
    </article>
    <article style="padding: 10px;height: 50%">
        <h2>Console</h2>
        <div id="output" class="console"></div>
    </article>
    <div id="popup" class="modal">
        <!-- Modal content -->
        <div class="modal-content" style="width: 40%; height: 30%">
            <div class="modal-header">
                <span class="close" onclick="document.getElementById('popup').style.display = 'none';">&times;</span>
            </div>
            <div class="modal-body" style="margin: 0 auto;height: 100%">
                <div>
                    Username: <span id="username-text"></span><br/>
                    First Name: <span id="first_name-text"></span><br/>
                    Last Name: <span id="last_name-text"></span><br/>
                    Email: <span id="email-text"></span>
                </div>
                <br/>
                <!--suppress CssInvalidPropertyValue -->
                <table class="scrollTable" id="user-roles" style="width: 50%; height: 115px">
                    <thead class="fixedHeader">
                    <tr>
                        <th style="background-color: #a3a3a3;">Roles</th>
                    </tr>
                    </thead>
                    <tbody class="scrollContent">

                    </tbody>
                </table>
                <br/>
                <form action="{{ url_for('admin.admin_commands', command='add_user_role') }}" method="post"
                      id="add_user_role">
                    <input type="hidden" id="username" name="username"/>
                    <label>
                        <input type="text" name="role" placeholder="Role"
                               style="height: 2em;width: 40%;float: left;margin: 0;"/>
                    </label>
                    <input type="submit" style="width: 25%;float: left;padding: 0;height: 2em;"/>
                </form>
                <br/>
            </div>
        </div>
    </div>
{% endblock %}