{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block head %}
    <style>
        html > body tbody.scrollContent {
            display: block;
            height: 262px;
            overflow: auto;
            width: 100%
        }

        html > body thead.fixedHeader {
            display: table;
            overflow: auto;
            width: 100%
        }

        thead.fixedHeader tr {
            position: relative;
        }

        html > body div.tableContainer {
            overflow-y: hidden;
        }

        .scrollTable {
            width: 100%;
            border-collapse: collapse;
        }

        .scrollTable th, .scrollTable td {
            text-align: left;
            padding: 8px;
        }

        .scrollTable tr {
            height: 2.3em;
            width: 100%;
        }

        .scrollTable tr:hover[onclick], .control > *:hover {
            cursor: pointer;
            opacity: 0.75;
        }

        .scrollTable tr:nth-child(even), .scrollTable tr:nth-child(even) * {
            background-color: #a3a3a3
        }

        .scrollTable tr:nth-child(odd), .scrollTable tr:nth-child(odd) * {
            background-color: #f2f2f2
        }

        .scrollTable td:nth-child(1), .scrollTable th:nth-child(1) {
            width: 22%
        }

        .scrollTable td:nth-child(2), .scrollTable th:nth-child(2) {
            border-left: 1px black solid;
            width: 75%
        }

        .scrollTable td:nth-child(3), .scrollTable th:nth-child(3) {
            width: 1%
        }

        table.scrollTable > tbody > tr > td > form > button {
            border: none;
            padding: 0;
            text-decoration: none;
            font-size: 100%;
            text-align: right;
            color: red;
        }

        table.scrollTable > tbody > tr > td > form > button:hover {
            cursor: pointer;
        }

        .console, .console * {
            color: greenyellow;
            background-color: black;
        }

        #output {
            padding: 10px;
            height: 20em;
            overflow-y: scroll;
        }

        .control, .control * {
            display: inline-block;
        }

        .control {
            height: 32px;
        }

        .control > * {
            height: 100%;
            height: -webkit-fill-available;
        }

        .control * {
            border-radius: 10px;
            padding: 4px;
            border-color: var(--secondary-color);
            background-color: var(--primary-color);
        }

        .control > button {
            font-size: 15px;
            padding: 5.5px;
        }

        .control > div {
            border-width: 2px;
            border-radius: 10px;
            border-style: solid;
            font: 400 13.3333px Arial;
        }

        .control div * {
            border-radius: 20px;
            padding: 0;
            border: 1px solid var(--secondary-color);
        }

        article {
            margin-bottom: 15px;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 29px;
            height: 17px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: darkred;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 11px;
            width: 11px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: darkgreen;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px darkgreen;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(11px);
            -ms-transform: translateX(11px);
            transform: translateX(11px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 17px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script>
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("users");
            switching = true;
            // Set the sorting direction to ascending:
            dir = "asc";
            /* Make a loop that will continue until
            no switching has been done: */
            while (switching) {
                // Start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /* Loop through all table rows (except the
                first, which contains table headers): */
                for (i = 1; i < (rows.length - 1); i++) {
                    // Start by saying there should be no switching:
                    shouldSwitch = false;
                    /* Get the two elements you want to compare,
                    one from current row and one from the next: */
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /* Check if the two rows should switch place,
                    based on the direction, asc or desc: */
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /* If a switch has been marked, make the switch
                    and mark that a switch has been done: */
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    // Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /* If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again. */
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
        setInterval(() => {
            fetch("{{ url_for('console') }}")
                .then(response => {
                    response.text().then(t => {
                        let data = JSON.parse(t);
                        let elem = document.getElementById("output");
                        for (let i = 0; i < data.content.length; i++) {
                            if (data.content[i] === '' || data.content[i] === '\n') continue;
                            elem.innerHTML += data.content[i] + "<br/>";
                            elem.scrollTop = elem.scrollHeight;
                        }
                    })
                });
            let elem = document.getElementById("output");
            elem.innerHTML = elem.innerHTML.replace("<br/>\n<br/>\n", '');
            elem.scrollTop = elem.scrollHeight;
        }, 10000);

        function camera_status() {
            let text = $('#messages').contents().find('#text').text().toLowerCase();
            return text.includes('camera') ? text.includes('on') : undefined;
        }

        function f() {
            let elem = document.getElementById('messages');
            $(elem).css('height', $(elem.contentWindow.document.body).height());
        }

        function sleep(milliseconds) {
            let start = new Date().getTime();
            for (let i = 0; i < 1e7; i++) {
                if ((new Date().getTime() - start) > milliseconds) {
                    break;
                }
            }
        }

        $(document).ready(function () {
            $('#messages').load(function () {
                let status = camera_status();
                if (status !== undefined) {
                    document.getElementById('cam').checked = status;
                }
            });
        });

    </script>
{% endblock %}
{% block content %}
    <article>
        <h2>Controls</h2>
        {# <form class="control" action="{{ url_for('admin_commands', command='reload_user') }}"
              method="post">
            <button type="submit" style="float: left">Reload User</button>
        </form> #}
        {# <form class="control" action="{{ url_for('admin_commands', command='reload_config') }}"
              method="post">
            <button type="submit" style="float: left">Reload Config</button>
        </form> #}
        <form class="control" action="{{ url_for('admin_commands', command='toggle_camera') }}" method="post">
            <div style="float: left;" onclick="document.getElementById('cam1').click()">
                <div style="vertical-align: text-top;border: none;">
                    <span style="font-size: 15px;border: none;padding-left: 2px">Camera</span>
                </div>
                <label class="switch">
                    <input type="checkbox" id="cam1" onchange="this.form.submit();"
                           {% if config['camera']['status'] %}checked{% endif %}/>
                    <span class="slider round"></span>
                </label>
            </div>
        </form>
        <form class="control" action="{{ url_for('admin_commands', command='toggle_detect') }}" method="post">
            <div style="float: left;" onclick="document.getElementById('cam2').click()">
                <div style="vertical-align: text-top;border: none;">
                    <span style="font-size: 15px;border: none;padding-left: 2px">Face detect</span>
                </div>
                <label class="switch">
                    <input type="checkbox" id="cam2" onchange="this.form.submit();"
                           {% if config['camera']['toggle_detect'] %}checked{% endif %}/>
                    <span class="slider round"></span>
                </label>
            </div>
        </form>
    </article>
    <article>
        <h2>Users</h2>
        <div id="tableContainer" class="tableContainer">
            <table class="scrollTable" id="users"
                    {#style="width: 100%;row-gap: 0;border: 0;border-collapse: collapse;border-spacing: 0;"#}>
                <thead class="fixedHeader"
                        {#style="position: relative;text-align: center;background-color: #a3a3a3;display: table"#}>
                <tr style="height: 2.3em">
                    <th onclick="sortTable(0)" style="background-color: #a3a3a3">User</th>
                    <th style="width: 74.6%;background-color: #a3a3a3">Permissions</th>
                    <th style="background-color: #a3a3a3"><i class="fas fa-trash-alt" style="visibility: hidden;"></i>
                    </th>
                </tr>
                </thead>
                <tbody class="scrollContent" {#style="position: relative"#}>
                {% for user in users %}
                    <tr style="height: 2.3em" {% if user.username != "admin" %}onclick="
                            document.getElementById('username').value = '{{ user.username }}';
                            document.getElementById('uname').innerText = '{{ user.username }}';
                            document.getElementById('permissions').value = '{{ user.permissions }}';
                            document.getElementById('popup').style.display = 'block';"{% endif %}>
                        <td>{{ user.username }}</td>
                        <td>{{ user.permissions }}</td>
                        <td>{% if user.username != "admin" %}
                            <form action="{{ url_for('admin_commands', param=(user.username|string)) }}" method="post">
                                <button type="submit"><i class="fas fa-trash-alt"></i></button>
                            </form>{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </article>
    <article style="padding: 10px;height: 50%">
        <h2>Console</h2>
        <div id="output" class="console"></div>
    </article>
    <div id="popup" class="modal">
        <!-- Modal content -->
        <div class="modal-content" style="width: 25%; height: 25%">
            <div class="modal-header">
                <span class="close" onclick="document.getElementById('popup').style.display = 'none';">&times;</span>
            </div>
            <div class="modal-body" style="margin: 0 auto;height: 100%">
                <form action="{{ url_for('admin_commands', command='edit_user_permissions') }}" method="post"
                      id="add_user">
                    <p>
                        <label for="username">Username: <span id="uname"></span></label><br/>
                        <input id="username" type="text" name="username" hidden/>
                    </p>
                    <p>
                        <label for="permissions">Permissions:</label><br/>
                        <!--suppress CssInvalidPropertyValue -->
                        <textarea id="permissions" name="permissions"
                                  style="width: -webkit-fill-available; height: 115px"></textarea>
                    </p>
                    <button type="submit">EDIT</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}