{% extends 'base.html' %}
{% block title %}Reset Password{% endblock %}
{% block head %}
    <style>
        /* Style inputs with type="text", select elements and textareas */
        form input[type=text], form input[type=email], form input[type=password], form textarea {
            width: 100%; /* Full width */
            padding: 12px; /* Some padding */
            border: 1px solid #ccc; /* Gray border */
            border-radius: 4px; /* Rounded borders */
            box-sizing: border-box; /* Make sure that padding and width stays in place */
            margin-top: 6px; /* Add a top margin */
            margin-bottom: 16px; /* Bottom margin */
            resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
            background-color: #f9f9f9;
        }

        /* Style the submit button with a specific background color etc */
        form input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        /* When moving the mouse over the submit button, add a darker green color */
        form input[type=submit]:hover {
            background-color: #45a049;
        }
    </style>
{% endblock %}
{% block nav %}
    {% from "flask_user/_macros.html" import render_nav %}
    {{ render_nav(get_nav('reset-password')) }}
{% endblock %}
{% block content %}
    {% from "flask_user/_macros.html" import render_field, render_submit_field %}
    <article>
        <h2>Reset Password</h2>

        <form action="" method="POST" class="form" role="form">
            {{ form.hidden_tag() }}
            {{ render_field(form.new_password, tabindex=10) }}
            {% if user_manager.USER_REQUIRE_RETYPE_PASSWORD %}
                {{ render_field(form.retype_password, tabindex=20) }}
            {% endif %}
            {{ render_submit_field(form.submit, tabindex=90) }}
        </form>
    </article>
{% endblock %}