{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block head %}
    <style>
        .user_list {
            border: 0;
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            display: block;
            overflow-y: auto;
        }

        .user_list th, .user_list td {
            text-align: left;
            padding: 8px;
        }

        .user_list tr {
            height: 2.3em
        }

        .user_list tr:hover[onclick], .control *:hover {
            cursor: pointer;
            opacity: 0.8;
        }

        .user_list tr:nth-child(even), .user_list tr:nth-child(even) * {
            background-color: #a3a3a3
        }

        .user_list tr:nth-child(odd), .user_list tr:nth-child(odd) * {
            background-color: #f2f2f2
        }

        .user_list td:nth-child(1){
            width: 10%
        }

        .user_list td:nth-child(2){
            width: 35%
        }

        .user_list td:nth-child(3){
            width: 3%
        }

        .console, .console * {
            color: greenyellow;
            background-color: black;
        }

        #output {
            padding: 10px;
            height: 20em;
            overflow-y: scroll;
        }

        .control, .control * {
            display: inline-block;
        }

        .control * {
            border-radius: 10px;
            padding: 8px;
            border-color: var(--secondary-color);
            background-color: var(--primary-color);
        }

        article {
            margin-bottom: 50px;
        }
    </style>
    {## <script>
        let source = new EventSource("{{ url_for('console') }}");
        source.onmessage = function(event) {
            let data = JSON.parse(event.data);
            let elem = document.getElementById("output");
            console.log(data);
            for (let i = 0; i < data.content.length; i++) {
                elem.innerHTML += "["+data.timestamp+"] " + data.content[i] + "<br/>";
                elem.scrollTop = elem.scrollHeight;
            }
        }
    </script>#}
{% endblock %}
{% block content %}
    <article>
        <h2>Controls</h2>
            <form class="control" action="{{ url_for('admin', command='reload_user') }}" method="post">
                <button type="submit" style="float: left">Reload User</button>
            </form>
            <form class="control" action="{{ url_for('admin', command='reload_config') }}" method="post">
                <button type="submit" style="float: left">Reload Config</button>
            </form>
            <form class="control" action="{{ url_for('admin', command='toggle_camera') }}" method="post">
                <button type="submit" style="float: left">Turn Camera {% if config['camera'] %}OFF{% else %}ON{% endif %}</button>
            </form>
    </article>
    <article>
        <h2>Users</h2>
        <table style="width: 100%;row-gap: 0;border: 0;border-collapse: collapse;border-spacing: 0;">
            <tbody>
            <tr>
                <td style="padding: 0;margin: 0;">
                    <table style="width: 100%;padding: 0;background-color: #a3a3a3;border: 0;border-collapse: collapse;border-spacing: 0;">
                        <tbody>
                        <tr style="height: 2.3em">
                            <th style="background-color: #a3a3a3;width: 10%">User</th>
                            <th style="background-color: #a3a3a3;width: 35%">Permissions</th>
                            <th style="background-color: #a3a3a3;width: 3%"><i class="fas fa-trash-alt" style="visibility: hidden;"></i></th>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding: 0;margin: 0">
                <div style="height: 24em;position: relative;width: 100%;display: grid">
                    <table class="user_list" style="position: relative">
                        <tbody>
                        {% for _, user in users %}
                            <tr style="height: 30px" {% if user.username != "admin" %}onclick="
                                    document.getElementById('username').value = '{{ user.username }}';
                                    document.getElementById('uname').innerText = '{{ user.username }}';
                                    document.getElementById('permissions').value = '{{ user.permissions|join(', ') }}';
                                    document.getElementById('popup').style.display = 'block';"{% endif %}>
                                <td >{{ user.username }}</td>
                                <td >{{ user.permissions }}</td>
                                <td style="padding: 0;">{% if user.username != "admin" %}<a style="text-decoration: none; font-size: 100%; text-align: right; color: red;" href="{{ url_for('admin', command='remove_user', param=(user.username|string)) }}"><i class="fas fa-trash-alt"></i></a>{% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                </td>
            </tr>
            </tbody>
        </table>
    </article>
    {## <article style="padding: 10px;height: 50%">
        <h2>Console</h2>
        <div id="output" class="console"></div>
        <iframe id="send" name="send" style="border: none;width: 100%;" src="{{ url_for('send_command') }}"></iframe>
    </article> #}
    <div id="popup" class="modal">
        <!-- Modal content -->
        <div class="modal-content" style="width: 25%; height: 25%">
            <div class="modal-header">
                <span class="close" onclick="document.getElementById('popup').style.display = 'none';">&times;</span>
            </div>
            <div class="modal-body" style="margin: 0 auto;height: 100%">
                <form action="{{ url_for('admin', command='edit_user_permissions') }}" method="post" id="add_user">
                    <p>
                        <label for="username">Username: <span id="uname"></span></label><br/>
                        <input id="username" type="text" name="username" hidden/>
                    </p>
                    <p>
                        <label for="permissions">Permissions:</label><br/>
                        <!--suppress CssInvalidPropertyValue -->
                        <textarea id="permissions" name="permissions"
                                  style="width: -webkit-fill-available; height: 115px"></textarea>
                    </p>
                    <button type="submit">EDIT</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}