{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <article>
        <h2>Login</h2>
        <form method="post">
            <div class="container">
                <hr>
                <p><label for="username"><b>Username</b></label><br/>
                    <input type="text" placeholder="Enter Username" name="username" id="username" required></p>

                <p><label for="password"><b>Password</b></label><br/>
                    <input type="password" placeholder="Enter Password" name="password" id="password" required></p>
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    Remember me
                </label>
                <hr>
                <input type="submit" value="Login"/>
            </div>
            <div class="container">
                <p>Don't have an account? Register <a href="{{ url_for('auth.signup') }}">here</a></p>
            </div>
        </form>
    </article>
{% endblock %}