{% extends "base.html" %}
{% block title %}Superheroes X{% endblock %}
{% block head %}
    <style>
    ul {
        margin: 0;
        list-style: none;
        padding-left: 20px;
    }

    .download *{
        background-color: #4CAF50;
    }

    .download {
        border-radius: 10px;
        border: 2px solid #222222;
        padding: 3px 5px;
        background-color: #4CAF50;
        text-decoration-line: none;
        color: #222222;
        font-weight: bold;
        font-size: 14px;
    }

    .info td:nth-child(2){
        width: 5%;
    }

    .info tr td:nth-child(3){
        text-align: right;
    }

    .info_box > *, .info_box table * {
        background-color: #999999;
    }

    .info_box {
        background-color: #999999;
        float: left;
        margin-bottom: 20px;
        border-style: solid;
        padding: 0 8px;
        border-radius: 6px;
        {#width: 90%;#}
        min-width: 250px
    }
    </style>
{% endblock %}
{% block content %}
    <div style="float: right">
        <div class="info_box">
            <h3 style="margin-top: 7px">CurseForge Info</h3>
            <table class="info">
                <tr><td>Project ID:</td><td></td><td>{{ info['id'] }}</td></tr>
                <tr><td>Created:</td><td></td><td>{{ info['created_at'] }}</td></tr>
                <tr><td>Last Released File:</td><td></td><td>{{ info['download']['uploaded_at']['date'] }}</td></tr>
                <tr><td>Downloads:</td><td></td><td>{{ '{:,}'.format(info['downloads']['total']) }}</td></tr>
            </table>
            <p><a href="https://minecraft.curseforge.com/projects/superheroes-x/files/latest" class="download">Download Latest <i class="fas fa-download"></i></a></p>
        </div>
    </div>

    <h2>Superheroes X</h2>
    {{ info["description"]|safe }}

    {#<h4 style="color: red;">WARNING:</h4>
    <ul>
        <li><span style="color: red;">Still in <b>ALPHA</b>! Report bugs on the <a target="_blank" href="https://github.com/SuperheroesX-Dev/SuperheroesX/issues">issue tracker</a>, also this mod requires <a target="_blank" href="https://minecraft.curseforge.com/projects/redstone-flux">Redstone Flux</a> by CoFH.</span></li>
    </ul>

    <h4>Current Heroes:</h4>
    <ul>
        <li>Kid Flash</li>
        <li>Deadpool</li>
        <li>Superboy</li>
        <li>Black Panther</li>
        <li>Iron Man</li>
        <li>Robin (Dick Grayson)</li>
        <li>Captain America</li>
    </ul>

    <h4>Weapons:</h4>
    <ul>
        <li>Captain America's Shield</li>
        <li>Deadpool's Katana</li>
    </ul>

    <h4>Adding:</h4>
    <ul>
        <li>Spider-Man</li>
        <li>Antman</li>
        <li>Batman</li>
    </ul>

    <h4>WIP:</h4>
    <ul>
        <li>Glide/Fly Potion (Lets you glide like Batman)</li>
    </ul>

    <h4>Modpack policy:</h4>
    <ul>
        <li>You can use the mod as long as you do not monetize content that doesn't belong to you and link this page to give credit</li>
        <li>And obviously, report your bugs on the <a target="_blank" href="https://github.com/SuperheroesX-Dev/SuperheroesX/issues">issue tracker</a>! :D</li>
    </ul>

    <h4>Suggestions:</h4>
    <ul>
        <li>Please give us suggestions for heroes, items and etc it will help us more and make the mod better</li>
    </ul>
    <br/>
    <br/>
    View Project on
    <ul>
        <li><a target="_blank" href="https://minecraft.curseforge.com/projects/superheroes-x">CurseForge</a></li>
        <li><a target="_blank" href="https://github.com/SuperheroesX-Dev/SuperheroesX">GitHub</a></li>
    </ul>
    or join us on <a target="_blank" href="https://discord.gg/JYxGe7">Discord</a>#}
{% endblock %}
{% block aside_right %}
<iframe src="https://discordapp.com/widget?id=445879659784044555&theme=dark" height="700" width="300" style="border: none; {#width: 95%;#} min-width: 320px"></iframe>
{% endblock %}